/*
MATERIALIZE ICON
*/

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../css/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.dropdown-content,
.dropdown-content *,
.select-wrapper * { 
    transition: none !important; 
    transform: none !important; 
}


/**/

body {
    /* text-align: center; */
    max-width: 800px;
    margin: auto;
    height: 100%;
    background-color: #333;
    color: white;
    caret-color: white;
    padding: 5px;
}

#title {
    display: inline-block;
    font-size: 1.5em;
    padding-right: 10px;
}

.conlink {
    /* display: none; */
    display: inline-block;
    padding: 0px 6px;
    margin-right: 2px;
    font-size: 0.8em;
    float: right;
}

.conlink.active {
    background-color: green;
}
.conlink:not(.active) {
    text-decoration: line-through;
}

.weblink {
    /* display: none; */
    display: inline-block;
    padding: 0px 6px;
    margin-right: 2px;
    font-size: 0.8em;
    float: right;
}


.btn {
    background: #a4a5a4;
    height: 2rem !important;
    line-height: 2rem !important;
    color: black;
}

.btn.btn-green {
    background: #26a64c;
    color: white;
}

.btn.btn-yellow {
    background: #dfd555;
    color: black;
}

.btn.btn-red {
    background: #d35353;
    color: white;
}

.btn.btn-small {
    height: 1.5rem !important;
    line-height: 1.5rem !important;
}

.conf-btn {
    width: 115px;
    margin-left: 2px;
    padding: 1px 6px;
    margin-bottom: 5px;
}

#font-a {
    width: 236px;
}

#files ul {
    margin: 10px 0px;
}

#files .directory {
    font-weight: bold;
}

#files .file {
    margin-top: 1px;
    font-weight: normal;
    margin: 0;
}

#files .directory_s {}


.collapsible-header {
    background-color: #222;
}

#files .collapsible-body {
    padding: 5px 15px;
}

.hidden {
    display: none !important;
}

.checked {
    background: red !important;
}

.modal {
    max-height: 90vh !important;
    top: 5vh !important;
}

.input-field,
.input-field.inline input {
    margin: 1px;
}

input {
    height: 2rem !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #666;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #666;
}

input, select, textarea{
    color: white;
}

.options {
    display: inline-block;
    margin-left: 30px;
    margin-top: 15px;
}

.options .input-field {
    margin-right: 30px;
}
